@import "_mixing.scss";
.product_card1 {
    min-height: 50rem;
    width: 100%;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow: hidden; /* Prevents image overflow */
    .card1_image {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        
        img {
            transition: transform 0.5s ease-in-out; /* Smooth animation */
            transform-origin: center; /* Ensures smooth scaling */
        }
    }
    &:hover {
        .card1_image {
            img {
                transform: scale(1.1); /* Subtle zoom-in */
            }
        }
    }
}
.card1_image{
    position: relative;
    height: 35rem;
    width: auto;
   
    img{
        height: 100%;
        width: auto;
       
        border-radius: .5rem;
    }
}
.suplleir{
    position: absolute;
    bottom:0;
    right: 0;
    z-index: 1;
    a{
        display: inline-block;
        background-color: $bggray;
        padding: .1rem;
        color:$color0;
        border-radius: .4rem;
    }
}
.card1_details{
    padding-top: 1.5rem;
    h4{
        @include heading4($font-size:1.7rem,);
        padding-bottom: 1rem ;
        span{
            background-color: #3A54F0;
            padding: .3rem ;
            border-radius: .5rem;
            color: $color0;
        }
    }
    .price{
        @include heading4($color:#3A54F0);
        padding-bottom: .5rem;
        strong{
            color: #000;
        }
        del{
            color: $delred;
        }
    }
    .verified{
        padding-top: 1rem;
        strong{
            color: $color3;
        }
        span{
            background-color: $bgprimary;
            padding: .2rem;
            border-radius: .4rem;
            color: $color0;
        }
    }
}
// button code 1 
.card1_buy{
    padding: 1.5rem 0rem ;
    display: flex;
    justify-content: flex-start;
    .cart1{
        border: none;
        background-color: transparent;
        border-radius: .8rem;
        border: 1px solid gray;
        a{
            color: $color1;
            padding: 1rem;
        }
        &:hover{
            background-color: $bgprimary;
        }
    }
    .buy1{
        border: none;
        background-color: transparent;
        border-radius: .8rem;
        border: 1px solid gray;
        margin: 0rem 1rem;
        transition: all 0.35s;
        a{
            padding: 1.5rem;
            color: $color1;
        }
        &:hover{
            background-color: $bgsecondary;
            a{
                color: $color0;
            }
        }
    }
}