/*=========  Global SCSS Variables ====================================== */
$body_background: #fff;

$heading1_size: 3.4rem;
$heading2_size: 3rem;
$heading3_size: 2.4rem;
$heading4_size: 2rem;
$heading5_size1: 1.8rem;
$heading6_size: 1.6rem;
$peragraph_size: 1.6rem;
$anchor_size: 1.6rem;
$span_size: 1.3rem;


/*=========variable ... background color===================================*/
$allheaderbg : #fff;
$headertopbg : #fff;
$mainheaderbg : #ff6a00;
$sidebarbg : #fff;
$sidebarheadingbg : #ff6a00;
$sidebarbodybg: #fff;
$sidebarfooterbg : #fff;
$bggray: #cecccc;
$bgwhite: #fff;
$bgprimary : #ff6a00;

/*=========variable ... rgb background color===================================*/
$anchorprimay : rgba(255,106,0,0.25);

/* ======= Variable -----  text color ====================================**/
$logocolor: #ff6a00;
$primary: #ff6a00;
$color0 : #fff;
$color1 : #000;
$color2 : #ff6a00;
$color3:#3c00ff;
$pricered : red;
$priceblue: #3c00ff;
$pricepri: #ff6a00;
$pricelightblack : #190e0e;
$priceblack:#000;
$delgray : #e6e6e6;
$delred : red;

/*======= Variable -----  Hover color ====================================**/
 $hover0 : #ff6a00;
 $hoverred: red;
 $hovergreen : rgb(6, 3, 77) ;



/*=========  Reset and Global Styles ========= */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: $body_background;  // Now, the variable is defined before usage
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

.section-padding{
    padding: 6rem 0rem;
}
/**=====  Common CSS ======== */
a {
    font-size: $anchor_size;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

span {
    font-size: $span_size;
    margin: 0;
    padding: 0;
}

p {
    font-size: $peragraph_size;
    margin: 0;
    padding: 0;
}

ol, ul, li {
    list-style-type: none;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: $heading1_size;
}

h2 {
    font-size: $heading2_size;
}

h3 {
    font-size: $heading3_size;
}

h4 {
    font-size: $heading4_size;
}

h5 {
    font-size: $heading5_size1;
}

h6 {
    font-size: $heading6_size;
}

//form css 
.custom_input{
    font-size: 1.6rem;
}
.custom_button{
    font-size: 1.6rem;
}
.custom_select{
    font-size: 1.6rem;
}
.input_button{
    font-size: 1.4rem;
}