@import "_mixing.scss";
/*=========  Global SCSS Variables ====================================== */
$body_background: #fff;

$heading1_size: 3.4rem;
$heading2_size: 3rem;
$heading3_size: 2.4rem;
$heading4_size: 2rem;
$heading5_size1: 1.8rem;
$heading6_size: 1.6rem;
$peragraph_size: 1.6rem;
$anchor_size: 1.6rem;
$span_size: 1.3rem;


/*=========variable ... background color===================================*/
$allheaderbg : #fff;
$headertopbg : #fff;
$mainheaderbg : #ff6a00;
$sidebarbg : #fff;
$sidebarheadingbg : #ff6a00;
$sidebarbodybg: #fff;
$sidebarfooterbg : #fff;
$bggray: #cecccc;
$bgwhite: #fff;
$bgprimary : #ff6a00;
$bgsecondary : #4415ec;
$sub_category_listbg: #ff6a00;
$offerbyproductbg : linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
$addtocartbg: #ff6a00;
$buynowbg : #4415ec;

/*=========variable ... rgb background color===================================*/
$anchorprimay : rgba(255,106,0,0.25);
$rgbprimary : rgba(255,106,0,0.25);
$filtericonbg : rgba(255,106,0,0.25);

/* ======= Variable -----  text color ====================================**/
$logocolor: #ff6a00;
$primary: #ff6a00;
$color0 : #fff;
$color1 : #000;
$color2 : #ff6a00;
$color3:#3c00ff;
$pricered : red;
$priceblue: #3c00ff;
$pricepri: #ff6a00;
$pricelightblack : #190e0e;
$priceblack:#000;
$delgray : #e6e6e6;
$delred : red;
$section_heading_color:#190e0e;
$purcheseiconColor: #3c00ff;
$purcheseheadingColor: #a3a3a3;
$cashonstatus: #3c00ff;
$reviewicon: #fdc304e5;
$addtocart : #fff;
$buynow: #fff;

/*======= Variable -----  Hover color ====================================**/
 $hover0 : #ff6a00;
 $hoverred: red;
 $hovergreen : rgb(6, 3, 77) ;



/*========== section bg --------*/
.sectionbg1{
    background-color: rgb(243, 243, 243);
} 
.section-padding{
    padding: 6rem 0rem;
}
.section_heading{
    padding: 2rem 0rem;
    h2{
        @include heading2($color:$section_heading_color,$font-weight:700);
    }
}

/*=========  Reset and Global Styles ========= */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: $body_background;  // Now, the variable is defined before usage
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}


/**=====  Common CSS ======== */
a {
    font-size: $anchor_size;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

span {
    font-size: $span_size;
    margin: 0;
    padding: 0;
}

p {
    font-size: $peragraph_size;
    margin: 0;
    padding: 0;
}

ol, ul, li {
    list-style-type: none;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: $heading1_size;
}

h2 {
    font-size: $heading2_size;
}

h3 {
    font-size: $heading3_size;
}

h4 {
    font-size: $heading4_size;
}

h5 {
    font-size: $heading5_size1;
}

h6 {
    font-size: $heading6_size;
}

//form css 
.custom_input{
    font-size: 1.6rem;
}
.custom_button{
    font-size: 1.6rem;
}
.custom_select{
    font-size: 1.6rem;
}
.input_button{
    font-size: 1.4rem;
}
.custom_label{
    font-size: 1.6rem;
}





/*========  common banner css =========*/
.category_banner1 {
    background-image: url('../../../../uploads/banner/banner1.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll; /* Instead of fixed */

}

/*-- offer by products css ---*/
.offers_byproducts{
    display: flex;
    justify-content: space-between;
    background: $offerbyproductbg;
    padding: 1rem;
    border-radius: .5rem;
    p{
        color: $color0;
    }
    h4{
        strong{
            color: $color0;
        }
    }
}