@import "_mixing.scss";
.deals_product_area{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    min-height: 30rem;
    padding: 2rem 0rem ;
    transition: all 0.35s;
    &:hover{
        background-color: $bggray;
        transition: all 0.35s;
        .new_next,.new_prev{
            display: block;
            transition: all 0.35s;
        }
    }
}
.product_slider_header{
    text-align: center;
    h3{
        @include heading2($font-weight:700);
        padding-bottom: 1rem;
    }
    a{
        display: inline-block;
        background-color: $anchorprimay;
        padding-inline: 1rem;
        border-radius: 1.5rem;
        color: $color1;
    }

}

.deals_product{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin: 2rem 0rem;
    min-height: 30rem;
    background-color: $bgwhite;
    margin: 1rem;
}
.deals_product_image{
    width: 100%;
    height: 20rem;
    overflow: hidden;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.deals_product_content{
    padding: .5rem;
    h5{
        @include heading5($font-size:1.5rem,$font-weight:500,$padding:.5rem 0rem );
    }
    p{
        color: $priceblack;
        del{
            color: $delgray;
        }
    }
}
.rating{
    p{
        color: $primary;
        span{
            color: $color1;
        }
    }
}
// nav button style 
.new_prev {
    position: absolute;
    left: auto;
    top: 30%;
    font-size: 2.6rem;
    background-color: rgba(255,255,255,0.85);
    padding: 2rem 1rem;
    display: none;
}
.new_next {
    position: absolute;
    right: 0;
    top: 30%;
    font-size: 2.6rem;
    background-color: rgba(255,255,255,0.85);
    padding: 2rem 1rem;
    display: none;
}
/*------  todys deals end here ------designwith Razu hossain raj----*/




