/*-------- header top css -------*/
.header_top{
    background-color: #131921;
   height: 8rem;
    width: 100%;
    align-content: center;
    display: grid;
    align-items: center;

}
.user_menu{
    ul li{
        display: inline-block;
    }
}