/*-------- header top css -------*/
.headernotebg{
    background: linear-gradient(90deg, rgba(3,16,71,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.headernote{
    padding: 1rem 0rem ;
    h5{
        color: $color0;
    }
}
.all_header{
   background-color: $allheaderbg;
}
.header_topbg{
    background-color: $headertopbg;
    padding: .8rem 0rem;
}
.header_top{
    display: flex;
    justify-content: space-between;
}
.logo{
     a{
        color:$logocolor ;
        font-weight: 700;
    }
}

.search-bar{
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
    width: 50%;
}
.search-bar select, .search-bar input {
    border: none;
    
}
.search-bar select {
    padding-left: 10px;
    margin: .2rem .5rem;
    border-right:  1px solid #d3d3d3;
}
.search-bar input {
    flex: 1;
    padding-left: 10px;
    width: 50%;
}
.search-bar button {
    background: #ff6a00;
    border: none;
    padding: 8px 15px;
    color: $color0;
    cursor: pointer;
}
.user_icons{
    ul li{
        display: inline-block;
        padding: 0rem 1rem ;

        a{
            color: $color1;
        }
    }
}
/*------  main navbarrazu css ---**/
.mainnab_bg{
    background: $mainheaderbg;
    
}
.main_nav{
    display: flex;
    justify-content: space-between;
}
.all_categorys{
   ul li{
    display: inline-block;
    padding: 1rem 1.2rem;
    
    a{
        color: $color1;
    }
    
   }
   ul li:first-child{
    padding: 0rem ;
    a{
        font-weight: 700;
    }
   }
    
}
.other_categorys{
  ul li{
    display: inline-block;
    padding: 1rem 1.2rem;
    a{
        color: $color1;
    }
  }

}
/*------  main menu css-----*/
.sidebarbg{
    background-color: $sidebarbg;
   
}
.sidebarbody{
    background-color: $sidebarbodybg;
}
.sidebar_footer{
    background-color: $sidebarfooterbg;
}
.sellex_sidebar{
    border-bottom: 2px solid $logocolor;
    p{
        padding: 1rem;

    }
}
.sidebar_header{
    background-color: $sidebarheadingbg;
    h5{
        font-weight: 700;
        color: $color0;
    }
}
.main_menu{
    h5{
        font-weight: 700;
    }
    ul li{
        display: block;
        padding: 1rem 0rem;
        transition: all 0.35s;
        a{
            color: $color1;
            display: block;
            cursor: pointer;
        }
        &:hover {
            a {
                color: $hover0;
                text-transform: uppercase;
                transition: all .35s ease-in-out;
            }
        }
        
        
    }
}

/*===========  category page css ======== design by razu */
.category_banner1bg{
    background-color: rgba(0,0,0,0.55);
}
.banner_1{
    padding: 5rem 0rem;

    h1{
        padding: 2rem 0rem;
        color: $color0;
    }
    p{
        color: $color0;
    }
}

/*======  hotsell product css -==-===*/
.hotsel_heading{
    padding: 0rem 2rem;
    text-align: center;
}
.hotsel_product_area {
    position: relative;
    background-color: $color0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 4rem 0rem;
    transition: all 0.35s; 
    border-radius: 1rem;
    &:hover{
        .hot_next,.hot_prev{
            display: block;
            background-color: $bgprimary;
            color: $color0;
        }
    }
}

.hotsell_items{
    text-align: center;
    .hotsel_image{
        height: 20rem;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        margin: 1rem;
        width: auto;
        background-color: $color0;
        object-fit: cover;
        overflow: hidden;
        border-radius: 2rem;
        img{
           height: 100%;
           width: 100%;
            object-fit: cover;
        }
    }
    .hotsel_pro_des{
        a{
            h6{
                @include heading6($font-size:1.2rem);
                &:hover{
                    color: $hoverred;
                }
            }

        }
    }
}
.hot_prev, .hot_next {
    position: absolute; /* Ensure buttons stay inside the parent */
    top: 50%;
    transform: translateY(-50%);
    background-color: $bgwhite;
    font-size: 4rem;
    padding: 1rem;
    z-index: 1;
    border: 1px solid rgb(199, 199, 199);
   
}

.hot_prev {
    left: 0;
}

.hot_next {
    right: 0;
}

/*-----  sub category list css ----*/
.product_subcategory_listed_area{
    background-color:$sub_category_listbg ;
    padding: 1rem 2rem ;
    border-radius: 1rem;
}
.all_subcategory_list{
    button{
        border: none;
        padding: .5rem;
        border-radius: .7rem;
        background: #fff;
    }
    a{
        color: #000;
        padding: 1rem;
    }
}
/*=====  sub sub category ========*/
.sub_sub_category_filter{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    min-height: 70rem;
    padding: 2rem 1rem;
}
.filter_heading{
    border-bottom:.5rem solid black;
    h4{
        @include heading4($font-weight:700);
        padding: 1rem 0rem;
    }
}
.filters1{
    padding: 1rem 0rem;
    h6{
        font-weight: 700;
        padding: 2rem 0rem;
        span{
            color: $color3;
            font-size: 1.9rem;
            background-color: $filtericonbg;
            padding: .1rem 1rem;
            border-radius: .5rem;
        } 
    }
}


/*=======  product purches css =========*/
.product_details{
    background-color: $bgwhite;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 2rem;
    border-radius: 1rem;
}









.purches_details_area{
    background-color: $bgwhite;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 2rem;
    border-radius: 1rem;
}


.pur_head{
    h5{
        color:$purcheseheadingColor ;
     }
}
.delivery_option{
     p{
        padding: 1rem 1rem;
        span{
            color: $purcheseiconColor;
            font-weight: 700;
            font-size: 2.2rem;
        }
     }
}
.delivery_info{
    p{
        padding: 0rem 1rem;
        span{
            color: $purcheseiconColor;
        }
    }
}

.payment_methods_option{
    p{
        padding: 1rem 1rem;
        span{
            color: $purcheseiconColor;
        }
        strong{
            color: $cashonstatus;
        }
    }
    ul li{
        display: inline-block;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        height: 5rem;
        width: auto;
        margin: 1rem 0rem;
        a{
            padding: 1.5rem;
            img{
                height: 5rem;
                width: auto;
                object-fit: cover;
            }
        }
    }
}

.warranty_option{
    padding: 1rem 0rem;
}
.warranty_note{
    padding: 1rem 0rem;
    p{
        padding: 0rem 1.2rem;
        span{
            color: red;
        }
    }
}

.product_protection{
    .secure_payment{
        padding: 1rem 1rem;
        h6{
            span{
                color: $purcheseiconColor;
            }
        }
        p{
            padding: 0rem 2rem;
        }
    }
}

.sellex_purchese_note{
    p{
        color: gray;
        font-style: italic;
    };
}

