
/*---- mixing css start---**/

/*-------heading h1----------*/
@mixin heading1($font-size: 3.4rem, $margin: 0, $padding: 0, $color: #000, $font-weight: 400) {
    font-size: $font-size;
    margin: $margin;
    padding: $padding;
    color: $color;
    font-weight: $font-weight;
}
@mixin heading2($font-size: 3rem, $margin: 0, $padding: 0, $color: #000, $font-weight: 400) {
    font-size: $font-size;
    margin: $margin;
    padding: $padding;
    color: $color;
    font-weight: $font-weight;
}
@mixin heading3($font-size: 2.4rem, $margin: 0, $padding: 0, $color: #000, $font-weight: 400) {
    font-size: $font-size;
    margin: $margin;
    padding: $padding;
    color: $color;
    font-weight: $font-weight;
}
@mixin heading4($font-size: 2rem, $margin: 0, $padding: 0, $color: #000, $font-weight: 400) {
    font-size: $font-size;
    margin: $margin;
    padding: $padding;
    color: $color;
    font-weight: $font-weight;
}
@mixin heading5($font-size: 1.8rem, $margin: 0, $padding: 0, $color: #000, $font-weight: 400) {
    font-size: $font-size;
    margin: $margin;
    padding: $padding;
    color: $color;
    font-weight: $font-weight;
}
@mixin heading6($font-size: 1.6rem, $margin: 0, $padding: 0, $color: #000, $font-weight: 400) {
    font-size: $font-size;
    margin: $margin;
    padding: $padding;
    color: $color;
    font-weight: $font-weight;
}
@mixin peragraph($font-size: 1.6rem, $margin: 0, $padding: 0, $color: #000, $font-weight: 200){
    font-size: $font-size;
    margin: $margin;
    padding: $padding;
    color: $color;
    font-weight: $font-weight;
}
