@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@media (max-width: 575.98px) {
  html {
    font-size: 47.5%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 47.5%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 52.5%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: 57.5%;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  html {
    font-size: 62.5%;
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 62.5%;
  }
}
/*---- mixing css start---**/
/*-------heading h1----------*/
/*=========  Global SCSS Variables ====================================== */
/*=========variable ... background color===================================*/
/*=========variable ... rgb background color===================================*/
/* ======= Variable -----  text color ====================================**/
/*======= Variable -----  Hover color ====================================**/
/*========== section bg --------*/
.sectionbg1 {
  background-color: rgb(243, 243, 243);
}

.section-padding {
  padding: 6rem 0rem;
}

.section_heading {
  padding: 2rem 0rem;
}
.section_heading h2 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  color: #190e0e;
  font-weight: 700;
}

/*=========  Reset and Global Styles ========= */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

/**=====  Common CSS ======== */
a {
  font-size: 1.6rem;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

span {
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

ol, ul, li {
  list-style-type: none;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

.custom_input {
  font-size: 1.6rem;
}

.custom_button {
  font-size: 1.6rem;
}

.custom_select {
  font-size: 1.6rem;
}

.input_button {
  font-size: 1.4rem;
}

.custom_label {
  font-size: 1.6rem;
}

/*========  common banner css =========*/
.category_banner1 {
  background-image: url("../../../../uploads/banner/banner1.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll; /* Instead of fixed */
}

/*---- mixing css start---**/
/*-------heading h1----------*/
.deals_product_area {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  min-height: 30rem;
  padding: 2rem 0rem;
  transition: all 0.35s;
}
.deals_product_area:hover {
  background-color: #cecccc;
  transition: all 0.35s;
}
.deals_product_area:hover .new_next, .deals_product_area:hover .new_prev {
  display: block;
  transition: all 0.35s;
}

.product_slider_header {
  text-align: center;
}
.product_slider_header h3 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  color: #000;
  font-weight: 700;
  padding-bottom: 1rem;
}
.product_slider_header a {
  display: inline-block;
  background-color: rgba(255, 106, 0, 0.25);
  padding-inline: 1rem;
  border-radius: 1.5rem;
  color: #000;
}

.deals_product {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin: 2rem 0rem;
  min-height: 30rem;
  background-color: #fff;
  margin: 1rem;
}

.deals_product_image {
  width: 100%;
  height: 20rem;
  overflow: hidden;
}
.deals_product_image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.deals_product_content {
  padding: 0.5rem;
}
.deals_product_content h5 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0.5rem 0rem;
  color: #000;
  font-weight: 500;
}
.deals_product_content p {
  color: #000;
}
.deals_product_content p del {
  color: #e6e6e6;
}

.rating p {
  color: #ff6a00;
}
.rating p span {
  color: #000;
}

.new_prev {
  position: absolute;
  left: auto;
  top: 30%;
  font-size: 2.6rem;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 2rem 1rem;
  display: none;
}

.new_next {
  position: absolute;
  right: 0;
  top: 30%;
  font-size: 2.6rem;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 2rem 1rem;
  display: none;
}

/*------  todys deals end here ------designwith Razu hossain raj----*/
/*---- mixing css start---**/
/*-------heading h1----------*/
.product_card1 {
  min-height: 50rem;
  width: 100%;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow: hidden; /* Prevents image overflow */
}
.product_card1 .card1_image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.product_card1 .card1_image img {
  transition: transform 0.5s ease-in-out; /* Smooth animation */
  transform-origin: center; /* Ensures smooth scaling */
}
.product_card1:hover .card1_image img {
  transform: scale(1.1); /* Subtle zoom-in */
}

.card1_image {
  position: relative;
  height: 35rem;
  width: auto;
}
.card1_image img {
  height: 100%;
  width: auto;
  border-radius: 0.5rem;
}

.suplleir {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.suplleir a {
  display: inline-block;
  background-color: #cecccc;
  padding: 0.1rem;
  color: #fff;
  border-radius: 0.4rem;
}

.card1_details {
  padding-top: 1.5rem;
}
.card1_details h4 {
  font-size: 1.7rem;
  margin: 0;
  padding: 0;
  color: #000;
  font-weight: 400;
  padding-bottom: 1rem;
}
.card1_details h4 span {
  background-color: #3A54F0;
  padding: 0.3rem;
  border-radius: 0.5rem;
  color: #fff;
}
.card1_details .price {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  color: #3A54F0;
  font-weight: 400;
  padding-bottom: 0.5rem;
}
.card1_details .price strong {
  color: #000;
}
.card1_details .price del {
  color: red;
}
.card1_details .verified {
  padding-top: 1rem;
}
.card1_details .verified strong {
  color: #3c00ff;
}
.card1_details .verified span {
  background-color: #ff6a00;
  padding: 0.2rem;
  border-radius: 0.4rem;
  color: #fff;
}

.card1_buy {
  padding: 1.5rem 0rem;
  display: flex;
  justify-content: flex-start;
}
.card1_buy .cart1 {
  border: none;
  background-color: transparent;
  border-radius: 0.8rem;
  border: 1px solid gray;
}
.card1_buy .cart1 a {
  color: #000;
  padding: 1rem;
}
.card1_buy .cart1:hover {
  background-color: #ff6a00;
}
.card1_buy .buy1 {
  border: none;
  background-color: transparent;
  border-radius: 0.8rem;
  border: 1px solid gray;
  margin: 0rem 1rem;
  transition: all 0.35s;
}
.card1_buy .buy1 a {
  padding: 1.5rem;
  color: #000;
}
.card1_buy .buy1:hover {
  background-color: #4415ec;
}
.card1_buy .buy1:hover a {
  color: #fff;
}

/*-------- header top css -------*/
.headernotebg {
  background: linear-gradient(90deg, rgb(3, 16, 71) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
}

.headernote {
  padding: 1rem 0rem;
}
.headernote h5 {
  color: #fff;
}

.all_header {
  background-color: #fff;
}

.header_topbg {
  background-color: #fff;
  padding: 0.8rem 0rem;
}

.header_top {
  display: flex;
  justify-content: space-between;
}

.logo a {
  color: #ff6a00;
  font-weight: 700;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 20px;
  overflow: hidden;
  width: 50%;
}

.search-bar select, .search-bar input {
  border: none;
}

.search-bar select {
  padding-left: 10px;
  margin: 0.2rem 0.5rem;
  border-right: 1px solid #d3d3d3;
}

.search-bar input {
  flex: 1;
  padding-left: 10px;
  width: 50%;
}

.search-bar button {
  background: #ff6a00;
  border: none;
  padding: 8px 15px;
  color: #fff;
  cursor: pointer;
}

.user_icons ul li {
  display: inline-block;
  padding: 0rem 1rem;
}
.user_icons ul li a {
  color: #000;
}

/*------  main navbarrazu css ---**/
.mainnab_bg {
  background: #ff6a00;
}

.main_nav {
  display: flex;
  justify-content: space-between;
}

.all_categorys ul li {
  display: inline-block;
  padding: 1rem 1.2rem;
}
.all_categorys ul li a {
  color: #000;
}
.all_categorys ul li:first-child {
  padding: 0rem;
}
.all_categorys ul li:first-child a {
  font-weight: 700;
}

.other_categorys ul li {
  display: inline-block;
  padding: 1rem 1.2rem;
}
.other_categorys ul li a {
  color: #000;
}

/*------  main menu css-----*/
.sidebarbg {
  background-color: #fff;
}

.sidebarbody {
  background-color: #fff;
}

.sidebar_footer {
  background-color: #fff;
}

.sellex_sidebar {
  border-bottom: 2px solid #ff6a00;
}
.sellex_sidebar p {
  padding: 1rem;
}

.sidebar_header {
  background-color: #ff6a00;
}
.sidebar_header h5 {
  font-weight: 700;
  color: #fff;
}

.main_menu h5 {
  font-weight: 700;
}
.main_menu ul li {
  display: block;
  padding: 1rem 0rem;
  transition: all 0.35s;
}
.main_menu ul li a {
  color: #000;
  display: block;
  cursor: pointer;
}
.main_menu ul li:hover a {
  color: #ff6a00;
  text-transform: uppercase;
  transition: all 0.35s ease-in-out;
}

/*===========  category page css ======== design by razu */
.category_banner1bg {
  background-color: rgba(0, 0, 0, 0.55);
}

.banner_1 {
  padding: 5rem 0rem;
}
.banner_1 h1 {
  padding: 2rem 0rem;
  color: #fff;
}
.banner_1 p {
  color: #fff;
}

/*======  hotsell product css -==-===*/
.hotsel_heading {
  padding: 0rem 2rem;
  text-align: center;
}

.hotsel_product_area {
  position: relative;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 4rem 0rem;
  transition: all 0.35s;
  border-radius: 1rem;
}
.hotsel_product_area:hover .hot_next, .hotsel_product_area:hover .hot_prev {
  display: block;
  background-color: #ff6a00;
  color: #fff;
}

.hotsell_items {
  text-align: center;
}
.hotsell_items .hotsel_image {
  height: 20rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin: 1rem;
  width: auto;
  background-color: #fff;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 2rem;
}
.hotsell_items .hotsel_image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hotsell_items .hotsel_pro_des a h6 {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  color: #000;
  font-weight: 400;
}
.hotsell_items .hotsel_pro_des a h6:hover {
  color: red;
}

.hot_prev, .hot_next {
  position: absolute; /* Ensure buttons stay inside the parent */
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  font-size: 4rem;
  padding: 1rem;
  z-index: 1;
  border: 1px solid rgb(199, 199, 199);
}

.hot_prev {
  left: 0;
}

.hot_next {
  right: 0;
}

/*-----  sub category list css ----*/
.product_subcategory_listed_area {
  background-color: #ff6a00;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.all_subcategory_list button {
  border: none;
  padding: 0.5rem;
  border-radius: 0.7rem;
  background: #fff;
}
.all_subcategory_list a {
  color: #000;
  padding: 1rem;
}

/*=====  sub sub category ========*/
.sub_sub_category_filter {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  min-height: 70rem;
  padding: 2rem 1rem;
}

.filter_heading {
  border-bottom: 0.5rem solid black;
}
.filter_heading h4 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  color: #000;
  font-weight: 700;
  padding: 1rem 0rem;
}

.filters1 {
  padding: 1rem 0rem;
}
.filters1 h6 {
  font-weight: 700;
  padding: 2rem 0rem;
}
.filters1 h6 span {
  color: #3c00ff;
  font-size: 1.9rem;
  background-color: rgba(255, 106, 0, 0.25);
  padding: 0.1rem 1rem;
  border-radius: 0.5rem;
}

/*=======  product purches css =========*/
.product_details {
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 2rem;
  border-radius: 1rem;
}

.purches_details_area {
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 2rem;
  border-radius: 1rem;
}

.pur_head h5 {
  color: #a3a3a3;
}

.delivery_option p {
  padding: 1rem 1rem;
}
.delivery_option p span {
  color: #3c00ff;
  font-weight: 700;
  font-size: 2.2rem;
}

.delivery_info p {
  padding: 0rem 1rem;
}
.delivery_info p span {
  color: #3c00ff;
}

.payment_methods_option p {
  padding: 1rem 1rem;
}
.payment_methods_option p span {
  color: #3c00ff;
}
.payment_methods_option p strong {
  color: #3c00ff;
}
.payment_methods_option ul li {
  display: inline-block;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  height: 5rem;
  width: auto;
  margin: 1rem 0rem;
}
.payment_methods_option ul li a {
  padding: 1.5rem;
}
.payment_methods_option ul li a img {
  height: 5rem;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.warranty_option {
  padding: 1rem 0rem;
}

.warranty_note {
  padding: 1rem 0rem;
}
.warranty_note p {
  padding: 0rem 1.2rem;
}
.warranty_note p span {
  color: red;
}

.product_protection .secure_payment {
  padding: 1rem 1rem;
}
.product_protection .secure_payment h6 span {
  color: #3c00ff;
}
.product_protection .secure_payment p {
  padding: 0rem 2rem;
}

.sellex_purchese_note p {
  color: gray;
  font-style: italic;
}

/*---- mixing css start---**/
/*-------heading h1----------*//*# sourceMappingURL=main.css.map */